body {
	margin: 0;
	padding: 0;
	background-color: #ffffff;

	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;

}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

h1,
h2 {
	text-transform: uppercase;
}

.top-menu {
	color: #ffffff;
	font-size: 17px;
}

.logo {
	font-size: 24px;

	padding: 5px;
	margin: 0;
	background-color: #ee3643;
}

.contacts p {
	font-size: 14px;
	color: #32425c;
}

.contacts span {
	font-size: 21px;
	color: #ee3643;
}

.user-navigation {
	font-size: 21px;
}

.visually-hidden {
	width: 0;
	height: 0;
	font-size: 0;
}

.about-heading {
	font-style: italic;
	font-size: 16px;
	color:#ee3643;
}

.main-navigation {
	color: #ffffff;
	font-size: 17px;

	background-color: #32425c;
}

.nav li {
	display: inline-block;
}

.promo {
	color: #ffffff;
}

.promo h3 {
	font-size: 24px;
}

.promo a {
	background-color: rgba(0, 0, 0, 0.1);

	font-size: 14px;
}

.promo a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo a:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.item-1 {
	background-color: #ffbf47;
}

.item-2 {
	background-color: #3bbce3;
}

.item-3 {
	background-color: #dc91d8;
}

.item-4 {
	background-color: #8ed78f;
}

.item-5 {
	background-color: #ffc047;
}

.popular h1,
.brands h1 {
	color: #32425c;
}

.popular .list {
	font-family: 'PT Sans', Arial, sans-serif;
}