body {
	margin: 0;
	padding: 0;
	min-width: 1200px;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 13px;
}

:focus {
	outline: 1px dotted #30aaff;
	border-radius: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding-left: 0;
	/*margin: 0;*/
}

h1,
h2 {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.section-header {
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
	max-width: 940px;
	margin: 0 auto;
}

.page-header {
	background-color: #f3f7f8;
	padding-bottom: 60px;
}

.page-header-top {
	background-color: #32425c;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	padding: 0;
	margin: 0;
	width: 100%;
}

.logo {
	font-size: 24px;
	line-height: 24px;
	color: #ffffff;
	font-weight: normal;
	text-align: center;
	padding: 0;
	padding-top: 10px;
	/*padding-bottom: 8px;*/
	margin: 0;
	width: 220px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b52933;
}

.page-header-top form {
	width: 270px;
	padding: 0;
	position: relative;
}

.page-header-top form svg {
	position: absolute;
	content: "";
	top: 14px;
	left: 17px;
	z-index: 1;
	width: 20px;
	height: 19px;
	fill-opacity: 0.3;
}

.page-header-top .page-header-search::placeholder {
	color: #ffffff;
	opacity: 1;
}

.page-header-top .page-header-search {
	width: 100%;
	color: #ffffff;
	border: none;
	background: transparent;
	padding: 13px 5px 15px 50px;
	align-self: flex-start;
	font-size: 17px;
	line-height: 18px;
}

.page-header-top .page-header-search:focus {
	color: #000000;
	background-color: #ffffff;
}

.page-header-top .page-header-search:focus + svg path {
	fill: #ee3643;
	fill-opacity: 1;
}

.page-header-top .header-top-menu {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 18px;
	width: 450px;
}

.page-header-top .header-top-menu li {
	display: flex;
}

.top-menu-item a {
	position: relative;
	padding: 13px 30px 13px 47px;
	flex-basis: 150px;
	line-height: 18px;
}

.top-menu-item a svg {
	position: absolute;
	top: 15px;
	left: 17px;
	fill-opacity: 0.3;
}

.page-header-search:hover,
.page-header-search:hover ~ svg *,
.top-menu-item a:hover,
.top-menu-item a:hover * {
	background-color: #212a3a;
	fill-opacity: 1;
}

.top-menu-item a:active,
.top-menu-item a:active * {
	background-color: #212a3a;
	color: rgba(255, 255, 255, 0.5);
	fill-opacity: 0.3;
}

.page-header-top .green-btn {
	display: inline-flex;
	padding: 13px 20px;
	line-height: 18px;
	background-color: #63a63e;
}

.page-header-top .green-btn:hover {
	background-color: #5fbb2d;
}

.page-header-top .green-btn:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.page-header-top .container{
	display: flex;
	justify-content: space-between;
}

.page-header-middle {
	padding-top: 46px;
	display: flex;
	justify-content: space-between;
}

.about {
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	width: 200px;
	margin-left: 53px;
}

.page-header .contacts {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	/*margin-right: -10px;*/
}

.contacts span {
	padding: 9px 5px 9px 25px;
	width: 234px;
	border: 3px solid #ffffff;
	display: block;
	position: relative;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
}

.contacts span::before {
	content: "";
	position: absolute;
	background: url("../svg/icon-phone.svg") no-repeat;
	top: 10px;
	left: 13px;
	width: 18px;
	height: 19px;
}

.user-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.user-navigation .user-btn {
	font-size: 21px;
	line-height: 21px;
	background-color: #ffffff;
	padding: 10px 23px;
	margin: 0;
	margin-left: 10px;
}

.user-navigation-logged .user-btn {
	padding: 11px 15px;
}

.user-navigation-logged .user-btn svg {
	vertical-align: middle;
	margin-bottom: 2px;
}

.user-navigation-logged .user-btn span {
	margin: 0;
	padding-left: 15px;
	padding-right: 40px;
}

.user-navigation-logged .user-btn:hover * {
	fill: #32425c;
}

.user-navigation-logged .user-btn:active * {
	fill: #c5c5c5;
}

.user-btn.sign-in {
	position: relative;
	padding-left: 46px;
	margin-left: -40px;
}

.user-btn.sign-in svg {
	position: absolute;
	width: 20px;
	height: 17px;
	top: 14px;
	left: 14px;
	fill-opacity: 0.3;
}

a.user-btn.sign-in:hover path {
	fill: #32425c;
	fill-opacity: 1;
}

.user-navigation .user-btn:hover {
	color: #ee3643;
}

.user-navigation .user-btn:active {
	color: rgba(0, 0, 0, 0.5);
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	margin-bottom: 0;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
	padding: 0 25px 0 22px;
}

.main-navigation .item {
	display: flex;
}

.main-navigation .item a {
	padding: 20px 30px;
}

.main-navigation .item a:hover {
	background-color: #293449;
}

.main-navigation .item a:active {
	background-color: #1d2739;
	box-shadow: 0 5px 0 0 #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.features {
	padding-top: 59px;
	padding-bottom: 36px;
}

.features-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.feature-item {
	padding-left: 23px;
	display: flex;
	flex-direction: column;
	width: 277px;
	margin-bottom: 16px;	
}

.feature-item-right {
	order: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.feature-item-header {
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	margin-top: 20px;
}

.feature-item a {
	width: 113px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	font-size: 14px;
	line-height: 18px;
	padding: 11px;
	border-radius: 3px;
	margin-bottom: 22px;
	margin-top: -12px;
}

.feature-item a:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.feature-item a:active {
	 background-color: rgba(0, 0, 0, 0.3);
}

.orange {
	background-color: #ffbf47;
	position: relative;
}

.orange::before {
	content: "";
	position: absolute;
	width: 44px;
	height: 65px;
	right: 43px;
	top: 31px;
	background: url("../svg/icon-1.svg") no-repeat;
}

.lightblue {
	background-color: #3bbce3;
	position: relative;
}

.lightblue::before {
	position: absolute;
	content: "";
	width: 75px;
	height: 61px;
	right: 28px;
	top: 33px;
	background: url("../svg/icon-2.svg") no-repeat;

}

.purple {
	background-color: #dc91d8;
	position: relative;
}

.purple::before {
	position: absolute;
	content: "";
	width: 78px;
	height: 62px;
	right: 31px;
	top: 31px;
	background: url("../svg/icon-3.svg") no-repeat;

}

.lightgreen {
	background-color: #8ed78f;
	position: relative;
}

.lightgreen::before {
	position: absolute;
	content: "";
	width: 59px;
	height: 72px;
	right: 45px;
	top: 26px;
	background: url("../svg/icon-4.svg") no-repeat;

}

.yellow	{
	background-color: #ffc047;
	position: relative;
}

.yellow::before {
	position: absolute;
	content: "";
	width: 78px;
	height: 63px;
	right: 31px;
	top: 32px;
	background: url("../svg/icon-5.svg") no-repeat;

}

.feature-slider {
	padding: 0;
	order: 1;
	width: 620px;
	height: 266px;
	background-image: url("../img/slider-2.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	color: #ffffff;
}

.feature-slider h3 {
	font-size: 36px;
	line-height: 1em;
	text-transform: uppercase;
	margin: 22px 0 4px 24px;
}

.feature-slider p {
	margin: 0 25px;
	font-size: 18px;
	line-height: 24px;
}

.feature-slider-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 30px 20px 0 20px;
}

.btn-pre {
	position: relative;
	border: none;
	cursor: pointer;
	width: 22px;
	height: 40px;
	background-color: transparent;
	color: transparent;
}

.btn-pre::before, .btn-pre::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
	width: 22px;
	height: 40px;
	top: 0;
	left: 0;
	background-color: transparent;
	background: url("../svg/icon-left.svg") no-repeat;
}

.btn-next {
	position: relative;
	border: none;
	cursor: pointer;
	width: 22px;
	height: 40px;
	background-color: transparent;
	color: transparent;
}

.btn-next::before, .btn-next::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
	width: 22px;
	height: 40px;
	top: 0;
	left: 0;
	background-color: transparent;
	background: url("../svg/icon-right.svg") no-repeat;
}

.feature-slider .red-button {
	margin-top: 47px;
	width: 195px;
	margin-left: 25px;
}

.red-button {
	padding: 11px 0;
	background-color: #ee3643;
	text-transform: uppercase;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	width: 253px;

}

.red-button:hover {
	background-color: #ca2c37;
}

.red-button:active {
	background-color: #ba2732;
}

header.heading-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	background-color: #f9f5f0;
	padding: 25px 24px 25px 28px;
}

.section-header {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

.popular ul.popular-list {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	margin: 0;
	padding: 10px 0;
	margin-left: -10px;
}

.popular-item {
	position: relative;
	border: 1px solid #eaeaea;
	width: 218px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	margin: 10px;
	background-color: #ffffff;
}

.popular-item:hover {
	box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-item img {
	margin: 0 auto;
	max-width: 218px;
	max-height: 150px;
}

.popular-item h3 {
	font-family: "PT Sans", sans-serif;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 14px;
}

.popular-item-line-through {
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
	color: #a9a9a9;
	font-weight: bold;
	text-align: center;
	padding: 0;
	margin: 0;
}

.popular-item-price {
	margin: 0;
	margin-left: 42px;
	margin-bottom: 10px;
	margin-top: 11px;
	width: 141px;
	height: 38px;
	background: url("../svg/red-button.svg") no-repeat;
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;	
	padding-top: 10px;
	padding-left: 34px;
}

.brands-list {
	padding: 0;
	padding-top: 10px;
	padding-bottom: 75px;
	width: 960px;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	margin-left: -10px;
}

.brands-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 218px;
	height: 143px;
	border: 1px solid #eaeaea;
	margin: 10px;
	padding: 0;
}

.brands-item:hover {
	box-shadow: 0 9px 25px 0px rgba(41, 52, 73, 0.5);
}

.brands-item:active {
	box-shadow: 0 5px 10px 0px rgba(41, 52, 73, 1);
	opacity: 0.3;
}

.services {
	background-color: #f4f8f9;
	padding-top: 62px;
}

.services p {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding: 10px 0;
}

.services-promo {
	margin-top: 15px;
	margin-bottom: 0;
}

.services-menu-container {
	display: flex;
}

.services-main-header {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	margin: 0;
}

.services-menu-hidden {
	opacity: 1;
}

.services-menu {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-top: 60px;
	padding-bottom: 102px;
}

.services-menu::after {
	content: "";
	position: absolute;
	display: block;
	right: 0;
	top: 15px;
	width: 10px;
	height: 279px;
	background: url("../img/shadow.png") no-repeat;
}

.services-menu label {
	cursor: pointer;
	width: 218px;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	padding: 13px 0 17px 22px;
	background-color: #32425c;
}

.services-menu label:hover {
	background-color: #293449;
}

.services-menu label:hover {
	background-color: #293449;
}

.services-menu label:not(:last-child) {
	border-bottom: 1px solid #4d637b;
}

.tab {
	display: none;
}

.services-tab {
	width: 620px;
	max-width: 700px;
	padding-left: 80px;
	padding-top: 60px;
}

.services-tab .services-header {
	text-transform: uppercase;
	font-weight: normal;
	color: #32425c;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
}

.delivery-tab {
	background: url("../img/delivery.png") no-repeat 100% 80%;
}

.guarantee-tab {
	background: url("../img/guarantee.png") no-repeat 100% 80%;
}

.credit-tab {
	background: url("../img/credit.png") no-repeat 100% 80%;
}

.credit-tab a.red-button {
	width: 125px;
	text-align: center;
	padding: 11px 35px;
	margin-top: 15px;
	float: left;
	/*background-color: #ff5357;*/
}

.delivery-tab,
.guarantee-tab,
.credit-tab {
	display: none;
}

input#tab-1:checked ~ .services-menu label[for="tab-1"],
input#tab-2:checked ~ .services-menu label[for="tab-2"],
input#tab-3:checked ~ .services-menu label[for="tab-3"] {
	background-color: #ffffff;
	color: #32425c;
}



input#tab-1:checked ~ .delivery-tab,
input#tab-2:checked ~ .guarantee-tab,
input#tab-3:checked ~ .credit-tab {
	display: block;
}

.about-technomart {
	display: flex;
	padding-top: 77px;
	padding-bottom: 86px;
	justify-content: space-between;
}
.about-technomart-right {
	width: 300px;
}

.about-technomart-right img {
	width: 300px;
	margin-top: 13px;
	margin-bottom: 40px;
}

.about-technomart .about-technomart-header {
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 20px;
}

.about-technomart p {
	font-family: "PT Sans", sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding: 5px 0;
}

.about-technomart-list-item {
	/*font-weight: bold;*/
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 23px;
	padding-left: 36px;
	position: relative;
}

.about-technomart-list-item::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	border-left: 2px solid #ee3643;
	transform:  translate(-37px, 11px) rotate(90deg);
	transform-origin: center;
}

.about-technomart-left .red-button {
	width: 200px;
	display: block;
	padding: 11px;
}

.about-technomart-right .red-button {
	display: block;
	width: 100%;
}

footer.page-footer {
	background-color: #32425c;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

.page-footer-darken-bg {
	background-color: #293449;
}

.page-footer-top,
.page-footer-middle {
	display: flex;
	justify-content: space-between;
}

.page-footer .footer-navigation-top,
.page-footer .footer-navigation-bottom {
	display: flex;
}

.page-footer .logo {
	color: #ffffff;
	font-size: 30px;
	line-height: 30px;
	padding: 16px 0;
}

.page-footer .footer-navigation-top,
.page-footer .footer-navigation-bottom {
	margin: 0;
	padding: 0;
}

.footer-navigation-top .footer-navigation-top-item {
	padding-left: 60px;
	padding-top: 40px;
}

.page-footer-middle .contacts {
	margin: 0;
	margin-top: 18px;
	padding-top: 12px;
	padding-bottom: 50px;
}

.footer-navigation-bottom .footer-navigation-bottom-item {
	padding-left: 60px;
	padding-top: 30px;
	color: #ffd180;
}

.page-footer-bottom a {
	color: #ffd180;
}

.page-footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;
}

.footer-bottom-social {
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 85px;
	margin-right: 30px;
}

.footer-bottom-social a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	background-color: #212a3a;
	margin-right: 5px;
}

.footer-bottom-social a:hover {
	background-color: #ee3643;
}

.page-footer-bottom p {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 18px;
}

.page-footer a:hover,
.page-footer a:focus {
	text-decoration: underline;
}

.page-footer a:active {
	text-decoration: none;
	opacity: .5;
}

.page-footer-bottom a:active {
	color: #ee3643;
	opacity: 1;
}

.inner-page {
	font-size: 13px;
	line-height: 18px;
}

p.breadcrumbs {
	text-transform: uppercase;
	font-family: "PT Sans", "Arial", sans-serif;
	margin: 20px 0;
}

.breadcrumbs img {
	width: 8px;
	height: 12px;
	margin: 0 15px;
}

.breadcrumbs a:first-child {
	width: 15px;
	height: 12px;
}

.inner-page .catalog-container {
	display: flex;
	justify-content: space-between;
	font-family: "PT Sans", "Arial", sans-serif;
}

.inner-page header.heading-container {
	background-color: #f2f6f8;
	line-height: 30px;
	margin-bottom: 20px;
}

.filters {
	width: 220px;
	text-transform: uppercase;
}

.filters p {
	margin: 20px 0;
}

.filters h3 {
	font-size: 17px;
	line-height: 30px;
}

.filters .filters-range {
	padding: 30px;
	background-color: #f9f5f0;
}

.filters-range .filters-cost {
	width: 100%;
}

.filter-checkbox-container label {
	position: relative;
	padding-left: 35px;
	font-size: 15px;
	line-height: 20px;
}

.filter-checkbox-container label::before {
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;
	background-image: url(../svg/checkbox-off.svg);
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	opacity: 0.7;
}

.filter-checkbox-container label:hover::before {
	opacity: 1;
}


.filter-checkbox-container input[type="checkbox"]:checked + label::before {
	background-image: url(../svg/checkbox-on.svg);
	background-repeat: no-repeat;
}

.filter-radio-container label {
	position: relative;
	padding-left: 35px;
	font-size: 15px;
	line-height: 20px;
}

.filter-radio-container label::before {
	position: absolute;
	content: "";
	width: 26px;
	height: 26px;
	background-image: url(../svg/radio-off.svg);
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	opacity: 0.7;
}

.filter-radio-container label:hover::before {
	opacity: 1;
}

.filter-radio-container input[type="radio"]:checked + label::before {
	background-image: url(../svg/radio-on.svg);
	background-repeat: no-repeat;
}

.filters .filters-header,
.catalog .catalog-header {
	background-color: #f9f5f0;
	text-transform: uppercase;
	padding: 10px 20px 10px 20px;
	margin: 0;
}

.filters .submit-button {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 10px 38px;
	margin-top: 60px;
}

.filters .submit-button:hover {
	border-color: #bdc6ca;
}

.filters .submit-button:active {
	border-color: #ee3643;
}

.catalog {
	width: 700px;
	font-family: "PT Sans", "Arial", sans-serif;
}

.catalog .catalog-header {
	display: flex;
}

.filters-header p,
.catalog-header p {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

.catalog-header p {
	width: 220px;
}

.catalog .catalog-sort {
	display: flex;
	margin: 0;
	padding: 0;
}

.catalog ul.catalog-list {
	display: flex;
	flex-wrap: wrap;
	width: 720px;
	margin: 0;
	padding: 10px 0;
	margin-left: -10px;
}

.catalog-item {
	position: relative;
	border: 1px solid #eaeaea;
	width: 218px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	margin: 10px;
	background-color: #ffffff;
}

.catalog-item-hover {
	box-sizing: border-box;
	position: absolute;
	display: none;
	width: 218px;
	max-height: 150px;
	padding: 45px 0;
	top: 0;
	left: 0;
	text-align: center;
	background-color: #ffffff;
}

.catalog-item-button-buy,
.catalog-item-button-to-bookmarks {
	width: 135px;
	margin-bottom: 7px;
	border: none;
	font-family: "Cuprum", sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 3px;
	background-color: #ffffff;
}

.catalog-item-button-buy {
	box-sizing: border-box;
	position: relative;
	padding: 10px 45px 10px 50px;
	font-style: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
}

.catalog-item-button-buy::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 12px;
	width: 15px;
	height: 15px;
	background-image: url("../svg/icon-cart.svg");
	background-repeat: no-repeat;
	opacity: .3;
}

.catalog-item-button-buy:hover {
	background-color: #5fbb2d;
}

.catalog-item-button-buy:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-item-button-buy:hover::before,
.catalog-item-button-buy:active::before {
	opacity: 1;
}

.catalog-item-button-to-bookmarks {
	box-sizing: border-box;
	padding: 7px 0;
	color: #32425c;
	text-align: center;
	border: 3px solid #63a63e;
}

.catalog-item-button-to-bookmarks:hover {
	border-color: #32425c;
}

.catalog-item-button-to-bookmarks:active {
	opacity: .3;
}

.catalog-item.new::before {
	content: "";
	position: absolute;
	width: 60px;
	height: 60px;
	top: 0;
	right: 0;
	background-image: url("../img/new-flag.png");
	background-repeat: no-repeat;
}

.catalog-item:hover {
	box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-item:hover .catalog-item-hover,
.catalog-item:hover .catalog-item-hover {
	display: block;
}

.catalog-item img {
	margin: 0 auto;
	max-width: 218px;
	max-height: 150px;
}

.catalog-item h3 {
	font-family: "PT Sans", sans-serif;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	margin: 0;
	margin-top: 25px;
	margin-bottom: 14px;
}

.catalog-item-line-through {
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
	color: #a9a9a9;
	font-weight: bold;
	text-align: center;
	padding: 0;
	margin: 0;
}

.catalog-item-price {
	margin: 0;
	margin-left: 42px;
	margin-bottom: 10px;
	margin-top: 11px;
	width: 141px;
	height: 38px;
	background: url("../svg/red-button.svg") no-repeat;
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	font-weight: bold;	
	padding-top: 10px;
	padding-left: 34px;
}

.catalog .pagination {
	display: flex;
	margin-left: -5px;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.pagination-button a:hover {
	border-color: #bdc6ca;
}

.pagination-button a:active {
	border-color: #ee3643;
}

.pagination-button a {
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	padding: 9px 15px;
	margin: 0 5px;
}

.pagination-button-current a {
	background-color: #ee3643;
	border-color: #ee3643;
	color: #ffffff;
}

.modal {
	display: none;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.75);
	transition: opacity .5s;
}

.modal-show {
	display: block;
	animation-name: show;
	animation-duration: .4s;
}

@keyframes show {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.modal-write-us {
	box-sizing: border-box;
	width: 620px;
	border-top: 7px solid #ee3643;
}

.modal-write-us form,
.modal-write-us p {
	padding: 0;
	margin: 0;
}

.modal-write-us form {
	background-color: #ffffff;
	padding-top: 45px;
}

.modal-write-us-container {
	width: 460px;
	margin: 0 auto 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.write-us-left-column {
	margin: 0;
	width: 220px;
}

.write-us-right-column {
	width: 220px;
	margin: 0;
}

.write-us-bottom-column {
	margin-top: 10px;
}

.modal-write-us label {
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}



.modal-write-us input[name="name"],
.modal-write-us input[name="email"],
.modal-write-us textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 6px 13px 10px;
	margin: 10px 0;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
}

.modal-write-us input[name="name"]:hover,
.modal-write-us input[name="email"]:hover,
.modal-write-us textarea:hover {
	border-color: #b5b5b5;
}

.modal-write-us input[name="name"]:focus,
.modal-write-us input[name="email"]:focus,
.modal-write-us textarea:focus {
	outline: none;
	border-color: #ee3643;
}

.modal-write-us-footer {
	width: 620px;
	text-align: center;
	background-color: #f4f4f4;
}

.modal-write-us-footer input[type="submit"] {
	border: none;
	width: 460px;
	margin: 37px auto;
}

.modal-write-us-close {
	border: none;
	cursor: pointer;

	position: absolute;
	right: 9px;
	top: 9px;
	width: 22px;
	height: 22px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(../svg/form-2.svg);
}

